@font-face {
  font-family: 'hobo';
  src: url('./fonts/hobo/hobo-font.ttf'),
}

body {
  margin: auto;
  text-align: center;
  background-color: #050505;
  padding-bottom: 5%;
}

.home{
  z-index: 1;
  top: 106px;
  left: 1420px;
}


h1{
  color: rgb(255, 252, 103);
  font-family: 'hobo';
  font-size: 75px;

}
h2{
  color: rgb(246, 244, 241);
  font-size: 30px;
  z-index: 2;
  font-weight: 200;
}

h3{
  color: rgb(246, 244, 241);
  font-size: 25px;
  font-weight: 200;

}


#chain{
  position: absolute;
  top: -23px;
  left: -23px;

  width: 650px;
  height: 650px;
  flex-shrink: 0;
}

.nav{
  z-index: 7;
  position: absolute;
  top: 58px;
  left: 1660px;
  width: 250px;
  flex-shrink: 0;
  filter:grayscale(70%);
}

.nav-links {
  position: absolute;
  top: 50px;
  left: 1670px;
  width: 200px;
  height: 200px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 30px;

 }
 .nav-links a {
  color: rgb(255, 252, 103);
}

.nav-links a:hover {
  color: #cfff21;
}

.nav-links a:visited {
  color: rgb(0, 255, 64);
}
#top{
  position: absolute;
  top: 544px;
  left: 583px;
  width: 664px;
  height: 434px;
  flex-shrink: 0;
  z-index: 5;

}
#art{
  position: absolute;
  top: 410px;
  left: 480px;
  width: 678px;
  height: 450px;
  flex-shrink: 0;
}

#useless{
  position: absolute;
  top: 713px;
  left: 373px;
  width: 688px;
  height: 388px;
}

#performance{
  position: absolute;
  top: 590px;
  left: 862px;
  width: 688px;
  height: 388px;
}

#oof{
  position: absolute;
  top: 450px;
  left: 832px;
  width: 637px;
  height: 355px;
  z-index: 2;

}


#art:hover {
  transform: translate(-300px, 0); 
}

#useless:hover {
  transform: translate(-200px, 200px); 
}

#performance:hover {
  transform: translate(350px, 0); 
}

#oof:hover {
  transform: translate(300px, -250px); 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  max-width: 800px;
  margin: 40px auto 400px auto;
  position: relative;
  z-index: 2;
}

.grid-item {
  padding: 10px;
}

.grid-item h1,
.grid-item h2,
.grid-item h3 {
  margin: 0;
}

.grid-item.title {
  text-align: center;
}

.grid-item.subtitle {
  text-align: center;
}

.grid-item.description {
  text-align: center;
}

.grid-item.description h3 a {
  color: rgb(246, 244, 241);
  text-decoration: none;
}

.grid-item.description h3 a:hover {
  color: #cfff21;
}