body{
    background-image: url(../images/coogi.jpeg);
    background-size: 100% auto;
    background-repeat: repeat;
    background-position: center;
    margin: auto;
    text-align: center;
    width: 80%;
    padding-top: 10%;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.container{
    background-color: rgba(250, 235, 215, 0.49);
}

